/* .word{
    display: flex;
    justify-content: space-between;
    background-color: rgb(226, 228, 226);
    width: 100%px;
 } 
.hre{
width: 25%;
direction: rtl;
}
.hre a{   
    text-decoration: none;
    font-size: larger;
    color: #08b433;
}
 .word .hre  ul li{
    list-style-type: none;
    margin: 10px 0px;
} */
